html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.header {
    display:flex;
    justify-content:center;
}
.navbar {
    display:flex;
    justify-content:space-around;
}
.social {
    display:flex;
    justify-content:space-around;
    width:100%;
}
#copyright {
    justify-content:center;
    display:flex;
    width:100%;
}
.gallery {
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
    width:500px;
    height:500px;
}